$white-font:#fff;
$black-font:black;
$mini-title:#082032;
$dark-grey-font:#444444;
$light-grey-font:#C8C6C6;
$grey-font:#9D9D9D;
$green-title:#2F5D62;
$green-text:#5E8B7E;
$blue-title:#1E3163;
$blue-text:#001E6C;
$font-stack: 'Poppins', sans-serif;
$font-two:'Acme', sans-serif;