@import "./variables";
@import"./resetcss.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
     
header{
   background-image: url(/img/image-header.jpg);
   background-size: cover;
   height: 50vw;
   width: 100vw;
   max-height: 800px;
   min-height: 500px;
   
   nav{
      display: grid;
      grid-template-rows: 30%;
     .logo{
         width: 15vw;
         padding-left: 5vw;
         padding-top: 5vw;
     }
    
       ul{
           color: $white-font;
           list-style: none;
           display: flex;
           justify-content: right;
           padding-top: 20px;
         li{
             padding-right:65px ;
             font-family: $font-stack;
             font-size: 20px;
            
         }
        
       }
   }
   h1{
       font-family: $font-two;
       text-align: center;
       color: $white-font;
       margin-top: 4vw;
       font-size: 7vw;
       letter-spacing: .2rem;
   }
   .arrow{
       height: 8vw;
       padding-top: 3vw;
        display: block;
  margin-left: auto;
  margin-right: auto;
   }

}
section{
    width: 100%;
    .row{
        display: grid;
        grid-template-columns: 50% 50%;
        
        

    }
    .img-container img{
        width: 58vw;

    }
    .text-transform{
        width: 50%;
        margin-left: 12vw;
        margin-right: 15vw;
        margin-top: 12vw;
        
        
        h2{
            text-align: justify;
            font-family: $font-two;
            font-size: 47px;
            
        }
        p{
            text-align: justify;
            font-family: $font-stack;
            font-size: 12px;
        }
        a{
            text-align: justify;
            font-family: $font-two;
            color: $mini-title;
            text-decoration: none;
            font-size: 23px;
            &:visited{
                color: $mini-title;
            }
        }
    }
}

section{
        width: 100%;
        height: 27%;
    .row{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0;

    }
    .img-container img{
         max-width: 50vw;
         max-height: 42vw;
        
    }
    .text-stand-out{
        margin-left: 12vw;
        margin-right: 15vw;
        margin-top: 10vw;
    }
    h2{
       
        
        font-family: $font-two;
        font-size: 47px; 
       
        }

        .stand-out-p{
            
            font-family: $font-stack;
            font-size: 12px;
            text-align: justify;
        }

        a{
            text-align: justify;
            font-family: $font-two;
            color: $mini-title;
            text-decoration: none;
            font-size: 23px;

            &:visited{
            color: $mini-title;

            }
        }
    }
.row{
        display: grid;
        grid-template-columns: 50% 50%;
        
        
        
        
   .graphic-design{
       background-image: url(/img/image-graphic-design.jpg);
       background-size: contain;
       background-repeat: no-repeat;
       height: 50vw;
      
      
       h4{
           font-family: $font-two;
           font-size: 30px;
           text-align: center;
           color: $green-title;
       }
       .graphic{
           font-family: $font-stack;
           font-size: 15px;
           text-align: center;
           color: $green-text;
           
       }

   }

   .photography{
       background-size: contain;
       background-repeat:no-repeat;
       background-image: url(/img/image-photography.jpg);
       height: 50vw;
    
       
   }
    h4{
           font-family: $font-two;
           font-size: 30px;
           text-align: center;
           color: $blue-title;
       }
       .mandarine-p{
           font-family: $font-stack;
           font-size: 15px;
           text-align: center;
           color: $blue-text;
       }
}

.comments{
    height: 50vw;
    .grid{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        margin: 20px;
    }
    h3{
        margin: 25px;
        text-align: center;
        font-size: 25px;
        letter-spacing: 2;
        color: $grey-font;
    }
    .photos{
        list-style: none;
        display: flex;
        align-items: stretch;
        justify-content:space-evenly;
    }
    .people{
        width: 30%;
		height: 40%;
		border-radius: 50%;
        margin: 40px;
        
    }
    .emily{
        .submit{
            padding: 15px;
            color: $grey-font;
            font-size: 12px;
            font-family: $font-stack;
        }
        h5{
            color: $dark-grey-font;
            font-size: 19px;
            font-weight: bolder;
            font-family: $font-two;
            text-align: center;
            margin-top: 15px;

        }
         h6{
            color: $light-grey-font;
            font-family: $font-stack;
            font-size: 15px;
            text-align: center;
            
        }
    }
     .thomas{
        .submit{
            padding: 15px;
            color: $grey-font;
            font-family: $font-stack;
            font-size: 12px;
        }
        h5{
            color: $dark-grey-font;
            font-size: 19px;
            font-weight: bolder;
            font-family: $font-two;
            text-align: center;
            

        }
        h6{
            color: $light-grey-font;
            font-family: $font-stack;
            font-size: 15px;
            text-align: center;
        }
    }
     .jennie{
        .submit{
            padding: 15px;
            color: $grey-font;
            font-size: 12px;
            font-family: $font-stack;
        }
        h5{
            color: $dark-grey-font;
            font-size: 19px;
            font-weight: bolder;
            font-family: $font-two;
            text-align: center;
            margin-top: 15px;

        }
        h6{
            color: $light-grey-font;
            font-family: $font-stack;
            font-size: 15px;
            text-align: center;
        }
    }
   
}

.gallery{
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    img{
        width: 30vw;
    }
}
.sunnyside{
    background-color: #A9F1DF;
    height: 30vw;

    .sunny{
        margin-left: 45vw;
        margin-right: 45vw;
        margin-top: 7vw;
        filter: $green-title;
    }
    .links{
        list-style: none;
        text-align: center;
        display: flex;
        align-items: stretch;
        justify-content: center;
        
    }
    .about{
        margin: 40px;
        font-size: 20px;
        font-family: $font-stack;
        font-weight: bolder;
    }

    .social-media{
        
           list-style: none;
           
        display: flex;
        align-items: stretch;
        justify-content: center; 
        }
        .social{
            padding-top: 30px;
            margin: 12px;
        }

    
}

